---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

<div class="row about-narrow">
  <div class="col-md-5" markdown="1">
    <h2>Environmental justice is adoptee justice.</h2>
    <p>First and foremost a resource for adoptees, <i>Adoptee Literary and Art Archive</i> (ALAA) aims to uplift and increase the visibility of adoptee voices and environmentalisms. This digital humanities project was designed to be a community archive and long-term commitment to supporting adoptee environmental and literary works.  ALAA was created in the legacy of transracial adoptee activism, particularly by Black, Indigenous, and adoptees of color, that proclaims, ‘we are not invisible and we are not silent’ in the movement for just environmental futures.</p>
    
    <p>All self-identifying transracial adoptees (those who identify as a different race than their adoptive parent(s)) of 18 years of age or older are invited to contribute literature or artwork that speaks to their relationship with the environment. This includes both urban and ‘natural’ spaces. ALAA also invites intergenerational adoptees to contribute, defined here as ‘those who have a parent or grandparent who was adopted transracially.’</p>
  </div>
  <div class="col-md-7" markdown="1">
    {% include feature/image.html objectid="demo_001" width="100" %}
  </div>
  
  <div class="col-md-12" markdown="1">
    <p>ALAA served as Hannah Gershone’s terminal master’s project in 2022 through the University of Oregon’s Environmental Studies department, although its work continues today. Gershone was mentored and advised by her three committee members: Dr. Sarah D. Wald (Chair), Kate Thornhill, and Dr. Mattie Burkert.</p>
</div>